.wd-select-wrapper {
  position: relative;
}

.wd-select {
  padding-right: 2.5rem;
}

.wd-select-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

/** Disabled styles, for the assign to checkboxes and label */
.wd-disabled-label {
  color: #b3b3b3;
  pointer-events: none;
}

.wd-disabled-checkbox {
  pointer-events: none;
}